.footer-container{
    background-color: rgba(68,51,122,1);
    width: 100%;
    padding: 4rem 2rem;
}
.footer__logo{
    margin-bottom: 1rem;
}
.footer__logo>img{
    width: 137px;
    height: 32px;
}
.footer__description{
    color: white;
}
.footer__menu__container{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}
.footer__menu__title{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}
.menu ul{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 0px;
    column-gap: 22px;
    width: 100%;
    height: 88%;
}
.menu ul li{
    color: #fff;
    font-size: .875rem;
    cursor: pointer;
}

.menu ul li:hover{
    color: rgba(133,82,242,1);
}

.footer__menu__produk{

} 
.footer__menu__tentang{

}
.footer__menu__pelanggan{

}


.footer__medsos__container{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.footer__medsos__list{
    width: 56px;
    height: 40px;
}
.footer__medsos__button{
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}
.footer__medsos__button img{
    width: 40px;
    height: 40px;
}
.tiktok{
    height: 40px;
    width: 40px;
}
.footer__medsos__list:nth-child(5){
    width: 20%;
    color: #fff;
    padding: 10px 0px;
}
.footer__download__container{
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: end;
    position: relative;
}
.footer__download__img{
    width: 112px;
    height: 30px;
}
.footer__download{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.footer__createdby{
    background-color: rgba(133,82,242,1);
    color: #fff;
    padding: 20px;
    text-align: center;
}